	<div class = "container">

    <div class="jumbotron">
      <h1 class ="title">Welcome to News Wise</h1>
        <p>News Wise is a site where you can read about varying types of news from popular sources. However, what sets us appart is you can also create your own news! However, if it is deemed fake, it can be down voted by the other users and then be moved into a dedicated category of fake news. If it’s quality content, users can vote the content up, and deem it popular.</p>
     

	 <form class ="for-signin" id="signin" name="signin" method="post" action="signin">
		<h2 class="form-signin-heading">Please sign in</h2>
        <label for="email" class ="sr-only">Email Address</label>
        <input class="text form-control" name="email" type="email" placeholder="johndoe@example.com"/>
        <label for="password" class = "sr-only">Password</label>
        <input name="password" type="password" class = "form-control" placeholder="Password"/>

		<div class="center-block">
          <p>
            <input class="btn btn-lg btn-block btn-primary" type="submit" value="Sign In" />
          </p>
        </div>
    </form>
  </div>
</div>




